
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>注册</title>
		<!-- bootstrap样式，地图插件使用 -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../layui/css/layui.css">
		<!-- 样式 -->
		<link rel="stylesheet" href="../../css/style.css" />
		<!-- 主题（主要颜色设置） -->
		<link rel="stylesheet" href="../../css/theme.css" />
		<!-- 通用的css -->
		<link rel="stylesheet" href="../../css/common.css" />
	</head>
	<style>
		html::after {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			display: block;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			z-index: -1;
		}
		#swiper {
			overflow: hidden;
			margin: 0 auto;
		}
		#swiper .layui-carousel-ind li {
			width: 100px;
			height: 2px;
			border-width: 0;
			border-style: solid;
			border-color: rgba(0,0,0,.3);
			border-radius: 0px;
			background-color: #f7f7f7;
			box-shadow: 0 0 0px rgba(255,0,0,.8);
		}
		#swiper .layui-carousel-ind li.layui-this {
			width: 100px;
			height: 2px;
			border-width: 0;
			border-style: solid;
			border-color: rgba(0,0,0,.3);
			border-radius: 0;
			background-color: rgba(255, 255, 255, 1);
			box-shadow: 0 0 0px rgba(255,0,0,.8);
		}
		
		button, button:focus {
			outline: none;
		}
		
		.data-add-container .add .layui-select-title .layui-unselect {
			padding: 0 12px;
			height: 40px;
			font-size: 14px;
			color: rgba(30, 144, 255, 1);
			border-radius: 4px;
			border-width: 1px;
			border-style: solid;
			border-color: #DCDFE6;
			background-color: #fff;
			box-shadow: 0 0 0px rgba(255,0,0,.8);
			text-align: left;
		}
		.data-add-container .add .layui-form-item {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.data-add-container .layui-form-pane .layui-form-item[pane] .layui-form-label {
			margin: 0;
			position: inherit;
			background: transparent;
			border: 0;
		}
		.data-add-container .add .layui-input-block {
			margin: 0;
			flex: 1;
		}
		.data-add-container .layui-form-pane .layui-form-item[pane] .layui-input-inline {
			margin: 0;
			flex: 1;
			display: flex;
		}
	</style>
	<body style="background: #EEEEEE; ">


		<div id="app">

			<!--
			<div class="layui-carousel" id="swiper">
				<div carousel-item id="swiper-item">
					<div v-for="(item,index) in swiperList" v-bind:key="index">
						<img class="swiper-item" :src="item.img">
					</div>
				</div>
			</div> -->
			<div class="layui-carousel" id="swiper" :style='{"boxShadow":"0 0 0px rgba(255,0,0,.8)","margin":"0 auto","borderColor":"rgba(0,0,0,.3)","borderRadius":"0px","borderWidth":"0","width":"100%","borderStyle":"solid"}'>
			  <div carousel-item id="swiper-item">
				<div v-for="(item,index) in swiperList" :key="index">
					<img style="width: 100%;height: 100%;object-fit:cover;" :src="item.img" />
				</div>
			  </div>
			</div>
			<!-- 轮播图 -->

			<div class="data-add-container" :style='{"padding":"10px","boxShadow":"0px 0px 0px rgba(255,0,0,.8)","margin":"auto","borderColor":"rgba(30, 144, 255, 1)","backgroundColor":"rgba(251, 251, 251, 1)","borderRadius":"5px","borderWidth":"0","borderStyle":"solid"}'>

				<form class="layui-form layui-form-pane add" lay-filter="myForm">
					
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">课程名称：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"0 0 0px rgba(255,0,0,.8)","borderColor":"#DCDFE6","backgroundColor":"#fff","color":"rgba(30, 144, 255, 1)","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"solid","height":"40px"}' v-model="detail.kechengmingcheng" type="text" :readonly="ro.kechengmingcheng" name="kechengmingcheng" id="kechengmingcheng" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
                        <label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">科目：</label>
                        <div class="layui-input-block">
                            <select name="kemu" id="kemu" lay-filter="kemu">
                                <option value="">请选择</option>
                                <option v-for="(item,index) in kemu" v-bind:key="index" :value="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
                        <label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">班级：</label>
                        <div class="layui-input-block">
                            <select name="banji" id="banji" lay-filter="banji">
                                <option value="">请选择</option>
                                <option v-for="(item,index) in banji" v-bind:key="index" :value="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">课程文件：</label>
						<div class="layui-input-inline">
							<input type="hidden" :value="detail.kechengwenjian" id="kechengwenjian" name="kechengwenjian" />
                            <button :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px 0 0","borderColor":"#ccc","backgroundColor":"red","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"auto","fontSize":"12px","borderStyle":"solid","height":"40px"}' type="button" class="layui-btn btn-theme" id="kechengwenjianUpload">
								<i v-if="true"  :style='{"color":"#fff","show":true,"fontSize":"14px"}' class="layui-icon">&#xe67c;</i>上传课程文件
							</button>
							<a :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px 0 0","borderColor":"#ccc","backgroundColor":"rgba(30, 144, 255, 1)","color":"rgba(255, 255, 255, 1)","borderRadius":"8px","borderWidth":"0","width":"auto","fontSize":"12px","borderStyle":"solid","height":"40px"}' style="display:block;text-decoration: none;line-height: 40px;" download="课程文件" :href="detail.kechengwenjian"><i v-if="true" :style='{"color":"rgba(255, 255, 255, 1)","show":true,"fontSize":"14px"}' class="layui-icon layui-icon-download-circle"></i> 点击下载课程文件</a>
						</div>
					</div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">课时：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"0 0 0px rgba(255,0,0,.8)","borderColor":"#DCDFE6","backgroundColor":"#fff","color":"rgba(30, 144, 255, 1)","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"solid","height":"40px"}' v-model="detail.keshi" type="text" :readonly="ro.keshi" name="keshi" id="keshi" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">学分：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"0 0 0px rgba(255,0,0,.8)","borderColor":"#DCDFE6","backgroundColor":"#fff","color":"rgba(30, 144, 255, 1)","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"solid","height":"40px"}' v-model="detail.xuefen" type="text" :readonly="ro.xuefen" name="xuefen" id="xuefen" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">发布日期：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"0 0 0px rgba(255,0,0,.8)","borderColor":"#DCDFE6","backgroundColor":"#fff","color":"rgba(30, 144, 255, 1)","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"solid","height":"40px"}' type="text" name="faburiqi" id="faburiqi" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">课程图片：</label>
						<div class="layui-input-block">
							<div v-if="detail.kechengtupian" style="display:inline-block;margin-right:10px;">
								<img id="kechengtupianImg" style="width: 100px;height: 100px;border-radius: 50%;border: 2px solid #EEEEEE;" :src="detail.kechengtupian">
								<input type="hidden" :value="detail.kechengtupian" id="kechengtupian" name="kechengtupian" />
							</div>
							<button v-if="!ro.kechengtupian" :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px 0 0","borderColor":"#ccc","backgroundColor":"red","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"auto","fontSize":"12px","borderStyle":"solid","height":"40px"}' type="button" class="layui-btn btn-theme" id="kechengtupianUpload">
								<i v-if="true" :style='{"color":"#fff","show":true,"fontSize":"14px"}' class="layui-icon">&#xe67c;</i>上传课程图片
							</button>
						</div>
					</div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">工号：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"0 0 0px rgba(255,0,0,.8)","borderColor":"#DCDFE6","backgroundColor":"#fff","color":"rgba(30, 144, 255, 1)","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"solid","height":"40px"}' v-model="detail.gonghao" type="text" :readonly="ro.gonghao" name="gonghao" id="gonghao" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">教师姓名：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"0 0 0px rgba(255,0,0,.8)","borderColor":"#DCDFE6","backgroundColor":"#fff","color":"rgba(30, 144, 255, 1)","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"solid","height":"40px"}' v-model="detail.jiaoshixingming" type="text" :readonly="ro.jiaoshixingming" name="jiaoshixingming" id="jiaoshixingming" autocomplete="off" class="layui-input">
						</div>
					</div>

                    <div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item" pane>
						<label  :style='{"width":"120px","padding":"0 40px 0 0","fontSize":"14px","color":"rgba(30, 144, 255, 1)","textAlign":"center"}' class="layui-form-label">详情：</label>
						<div class="layui-input-block">
							<textarea name="xiangqing" id="xiangqing">请输入详情</textarea>
						</div>
					</div>

					<div  :style='{"padding":"15px","boxShadow":"0 0 0px rgba(234, 232, 232, 1)","margin":"0 100px","borderColor":"rgba(210, 210, 211, 1)","backgroundColor":"rgba(255, 255, 255, 1)","borderRadius":"0px","borderWidth":"0 0 1px 0","borderStyle":"solid"}' class="layui-form-item">
						<div class="layui-input-block" style="text-align: right;">
							<button :style='{"padding":"0 30px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px","borderColor":"#ccc","backgroundColor":"rgba(255, 69, 0, 1)","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"auto","fontSize":"16px","borderStyle":"solid","height":"44px"}' class="layui-btn btn-submit" lay-submit lay-filter="*">提交</button>
							<button :style='{"padding":"0 30px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px","borderColor":"#ccc","backgroundColor":"rgba(30, 144, 255, 1)","color":"rgba(255, 255, 255, 1)","borderRadius":"8px","borderWidth":"0","width":"auto","fontSize":"14px","borderStyle":"solid","height":"44px"}' type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="../../layui/layui.js"></script>
		<script src="../../js/vue.js"></script>
		<!-- 组件配置信息 -->
		<script src="../../js/config.js"></script>
		<!-- 扩展插件配置信息 -->
		<script src="../../modules/config.js"></script>
		<!-- 工具方法 -->
		<script src="../../js/utils.js"></script>
		<!-- 校验格式工具类 -->
		<script src="../../js/validate.js"></script>
		<!-- 地图 -->
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ca04cee7ac952691aa67a131e6f0cee0"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.AMapPositionPicker.js"></script>

		<script>
			var jquery = $;
			
			var vue = new Vue({
				el: '#app',
				data: {
					// 轮播图
					swiperList: [{
						img: '../../img/banner.jpg'
					}],
					dataList: [],
      					ro:{
				        kechengmingcheng : false,
				        kemu : false,
				        banji : false,
				        kechengjianjie : false,
				        kechengwenjian : false,
				        keshi : false,
				        xuefen : false,
				        faburiqi : false,
				        xiangqing : false,
				        kechengtupian : false,
				        gonghao : false,
				        jiaoshixingming : false,
              				},
                    detail: {
                        kechengmingcheng: '',
                        kemu: '',
                        banji: '',
                        kechengjianjie: '',
                        kechengwenjian: '',
                        keshi: '',
                        xuefen: '',
                        faburiqi: '',
                        xiangqing: '',
                        kechengtupian: '',
                        gonghao: '',
                        jiaoshixingming: '',
                    },
					kemu: [],
					banji: [],
					centerMenu: centerMenu
				},
				updated: function() {
					layui.form.render('select', 'myForm');
				},
                computed: {
                },
				methods: {
					jump(url) {
						jump(url)
					}
				}
			})


			layui.use(['layer', 'element', 'carousel', 'http', 'jquery', 'form', 'upload', 'laydate','tinymce'], function() {
				var layer = layui.layer;
				var element = layui.element;
				var carousel = layui.carousel;
				var http = layui.http;
				var jquery = layui.jquery;
				var form = layui.form;
				var upload = layui.upload;
				var laydate = layui.laydate;
                var tinymce = layui.tinymce

				// 获取轮播图 数据
				http.request('config/list', 'get', {
					page: 1,
					limit: 5
				}, function(res) {
					if (res.data.list.length > 0) {
						var swiperItemHtml = '';
						for (let item of res.data.list) {
							if (item.name.indexOf('picture') >= 0 && item.value && item.value != "" && item.value != null) {
								swiperItemHtml +=
									'<div>' +
									'<img style="width: 100%;height: 100%;object-fit:cover;" class="swiper-item" src="' + item.value + '">' +
									'</div>';
							}
						}
						jquery('#swiper-item').html(swiperItemHtml);
						// 轮播图
						vue.$nextTick(() => {
						  carousel.render({
						  	elem: '#swiper',
							width: '100%',
						  	height: '300px',
						  	arrow: 'hover',
						  	anim: 'fade',
						  	autoplay: 'true',
						  	interval: '3000',
						  	indicator: 'inside'
						  });
						
						})
						// carousel.render({
						// 	elem: '#swiper',
						// 	width: swiper.width,height:swiper.height,
						// 	arrow: swiper.arrow,
						// 	anim: swiper.anim,
						// 	interval: swiper.interval,
						// 	indicator: "none"
						// });
					}
				});

				http.request(`option/kemufenlei/fenlei`,'get',{},(res)=>{
					vue.kemu = res.data
				});
				http.request(`option/banjifenlei/fenlei`,'get',{},(res)=>{
					vue.banji = res.data
				});
                var kechengwenjianUpload = upload.render({
					//绑定元素
					elem: '#kechengwenjianUpload',
					//上传接口
					url: http.baseurl + 'file/upload',
					// 请求头
					headers: {
						Token: localStorage.getItem('Token')
					},
					// 允许上传时校验的文件类型
					accept: 'file',
					before: function() {
						//loading层
						var index = layer.load(1, {
							shade: [0.1, '#fff'] //0.1透明度的白色背景
						});
					},
					// 上传成功
					done: function(res) {
						console.log(res);
						layer.closeAll();
						if (res.code == 0) {
							layer.msg("上传成功", {
								time: 2000,
								icon: 6
							})
							var url = http.baseurl + 'upload/' + res.file;
							jquery('#kechengwenjian').val(url);
                            vue.detail.kechengwenjian = url;
						} else {
							layer.msg(res.msg, {
								time: 2000,
								icon: 5
							})
						}
					},
					//请求异常回调
					error: function() {
						layer.closeAll();
						layer.msg("请求接口异常", {
							time: 2000,
							icon: 5
						})
					}
				});
				jquery('#faburiqi').val(getCurDate());
				laydate.render({
					elem: '#faburiqi'
				});
                var edit = tinymce.render({
                    elem: "#xiangqing",
                    height: 600,
                    images_upload_handler: function(blobInfo, succFun, failFun) {
                        var xhr, formData;
                        var file = blobInfo.blob(); //转化为易于理解的file对象
                        xhr = new XMLHttpRequest();
                        xhr.withCredentials = false;
                        xhr.open('POST', http.baseurl + 'file/upload');
                        xhr.setRequestHeader("Token", localStorage.getItem('Token')); //设置请求头
                        xhr.onload = function() {
                            var json;
                            if (xhr.status != 200) {
                                failFun('HTTP Error: ' + xhr.status);
                                return;
                            }
                            json = JSON.parse(xhr.responseText);
                            if (!json || typeof json.file != 'string') {
                                failFun('Invalid JSON: ' + xhr.responseText);
                                return;
                            }
                            succFun(http.baseurl + 'upload/' + json.file);
                        };
                        formData = new FormData();
                        formData.append('file', file, file.name); //此处与源文档不一样
                        xhr.send(formData);
                    }
                }, (opt) => {

                });
				// 上传图片
				var kechengtupianUpload = upload.render({
					//绑定元素
					elem: '#kechengtupianUpload',
					//上传接口
					url: http.baseurl + 'file/upload',
					// 请求头
					headers: {
						Token: localStorage.getItem('Token')
					},
					// 允许上传时校验的文件类型
					accept: 'images',
					before: function() {
						//loading层
						var index = layer.load(1, {
							shade: [0.1, '#fff'] //0.1透明度的白色背景
						});
					},
					// 上传成功
					done: function(res) {
						console.log(res);
						layer.closeAll();
						if (res.code == 0) {
							layer.msg("上传成功", {
								time: 2000,
								icon: 6
							})
							var url = http.baseurl + 'upload/' + res.file;
							jquery('#kechengtupian').val(url);
							jquery('#kechengtupianImg').attr('src', url)
                            vue.detail.kechengtupian = url;
						} else {
							layer.msg(res.msg, {
								time: 2000,
								icon: 5
							})
						}
					},
					//请求异常回调
					error: function() {
						layer.closeAll();
						layer.msg("请求接口异常", {
							time: 2000,
							icon: 5
						})
					}
				});
				
                // session独取
				let table = localStorage.getItem("userTable");
				http.request(`${table}/session`, 'get', {}, function(data) {
					// 表单赋值
					//form.val("myForm", data.data);
					data = data.data
					for (var key in data){
					if(key=='gonghao'){
						vue.detail[`${key}`] = data[`${key}`]
						continue;
                                        }
					if(key=='jiaoshixingming'){
						vue.detail[`${key}`] = data[`${key}`]
						continue;
                                        }
                                        }
				});

                // 跨表
                if(http.getParam('corss')){
					var obj = JSON.parse(localStorage.getItem('crossObj'));
					for (var o in obj){
					if(o=='kechengmingcheng'){
          	                                vue.detail[o] = obj[o];
						vue.ro.kechengmingcheng = true;
						continue;
                                        }
					if(o=='kemu'){
          	                                vue.detail[o] = obj[o];
						vue.ro.kemu = true;
						continue;
                                        }
					if(o=='banji'){
          	                                vue.detail[o] = obj[o];
						vue.ro.banji = true;
						continue;
                                        }
					if(o=='kechengjianjie'){
          	                                vue.detail[o] = obj[o];
						vue.ro.kechengjianjie = true;
						continue;
                                        }
					if(o=='kechengwenjian'){
          	                                vue.detail[o] = obj[o];
						vue.ro.kechengwenjian = true;
						continue;
                                        }
					if(o=='keshi'){
          	                                vue.detail[o] = obj[o];
						vue.ro.keshi = true;
						continue;
                                        }
					if(o=='xuefen'){
          	                                vue.detail[o] = obj[o];
						vue.ro.xuefen = true;
						continue;
                                        }
					if(o=='faburiqi'){
          	                                vue.detail[o] = obj[o];
						vue.ro.faburiqi = true;
						continue;
                                        }
					if(o=='xiangqing'){
          	                                vue.detail[o] = obj[o];
						vue.ro.xiangqing = true;
						continue;
                                        }
					if(o=='kechengtupian'){
          	                                vue.detail[o] = obj[o];
						vue.ro.kechengtupian = true;
						continue;
                                        }
					if(o=='gonghao'){
          	                                vue.detail[o] = obj[o];
						vue.ro.gonghao = true;
						continue;
                                        }
					if(o=='jiaoshixingming'){
          	                                vue.detail[o] = obj[o];
						vue.ro.jiaoshixingming = true;
						continue;
                                        }
                                        }
				}
				

				// 提交
				form.on('submit(*)', function(data) {
					data = data.field;
					
                    // 数据校验
					var xiangqing = tinymce.get('#xiangqing').getContent()
					data.xiangqing = xiangqing;

					// 跨表计算
					
                    // 比较大小
					
					// 提交数据
					http.requestJson('kechengxinxi' + '/add', 'post', data, function(res) {
					 	layer.msg('提交成功', {
					 		time: 2000,
					 		icon: 6
					 	}, function() {
					 		back();
						});
					 });

					return false
				});

			});
		</script>
	</body>
</html>
